<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<usms>
	#foreach($exp in $experiments)
    <usm nom="$exp.expId">
        <datedebut>$exp.icdat</datedebut>
        <datefin>$exp.endDate</datefin>
        <finit>$exp.iniFile</finit>
        <nomsol>$exp.soilId</nomsol>
        <fstation>$exp.stationFile</fstation>
        <!-- loop on the total climate files -->
        #foreach($climFileName in $exp.weatherFiles)
        <fclim$foreach.count>$climFileName</fclim$foreach.count>
        #end
        <!-- if the crop is on 1 year then culturean = 1 else 0 -->
        <culturean>$exp.twoYearsCrop</culturean>
        <nbplantes>1</nbplantes>
        <codesimul>0</codesimul>
        <plante dominance="1">
            <fplt>$exp.plantFile</fplt>
            <ftec>$exp.mngmtFile</ftec>
            <flai>null</flai>
        </plante>
        <plante dominance="2">
            <fplt>null</fplt>
            <ftec>null</ftec>
            <flai>null</flai>
        </plante>
    </usm>
     #end
</usms>